sqlalchemy==2.0.35
pyodbc==5.1.0
langchain==0.3.1
langchain-ollama==0.2.0
langchain-chroma==0.1.4
chromadb==0.4.24
spacy==3.7.5
fuzzywuzzy==0.18.0
python-Levenshtein==0.25.1
python-dotenv==1.0.1
sqlparse==0.5.0
Flask==3.0.3
Werkzeug==3.0.3




