services:
  flask-app:
    build: .
    ports:
      - "5000:5000"
      - "5678:5678"
    environment:
      - FLASK_APP=app.py
      - FLASK_ENV=development
    volumes:
      - .:/app
    command: 