name: Artifact Workflow
on: workflow_dispatch
jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "16"
      - name: Install dependencies
        run: npm install
        working-directory: DevOps/GithubActions
      - name: Done
        run: echo "All done! ${{ github.event_name }} triggered this workflow."

  build:
    needs: testing
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "16"
      - name: Install dependencies
        run: npm install
        working-directory: DevOps/GithubActions
      - name: Build
        run: npm run build
        working-directory: DevOps/GithubActions
      - name: Create Artifact
        uses: actions/upload-artifact@v2
        with:
          name: my-artifact
          path: DevOps/GithubActions/dist
      - name: Done
        run: echo "All done! ${{ github.event_name }} triggered this workflow."

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "16"
      - name: Download Artifact
        uses: actions/download-artifact@v2
        with:
          name: my-artifact
