name: Deploy SQL Database and Trigger SSIS Deploy

on:
  workflow_dispatch:

jobs:
  run-sql:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Verify SQL file exists
        shell: powershell
        run: |
          if (-Not (Test-Path "HandsOnProject\Timesheet\SQL Scripts\CreateDatabase.sql")) {
            Write-Error "SQL file NOT found"
            exit 1
          }
          Write-Output "SQL file found"

      - name: Run SQL Script using sqlcmd with Windows Auth
        shell: powershell
        run: |
          $sqlServer = "LAPTOP-62JJ49T4"
          $sqlFile = "HandsOnProject\Timesheet\SQL Scripts\CreateDatabase.sql"
          Write-Output "Starting SQL execution at $(Get-Date)"
          & sqlcmd.exe -S $sqlServer -E -i $sqlFile -b
          Write-Output "Finished SQL execution at $(Get-Date)"

  call-ssis:
    needs: run-sql
    uses: ./.github/workflows/deploy-ssis.yml

  call-job-creation:
    needs: call-ssis
    uses: ./.github/workflows/create-sql-agent-job.yml
