name: Deployment Exercise 2
on: push

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache Node.js dependencies
        uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci
        working-directory: "DevOps/GithubActions/01 Starting Project"

      - name: Run Linter
        run: npm run lint
        working-directory: "DevOps/GithubActions/01 Starting Project"

  test:
    needs: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache Node.js dependencies
        uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci
        working-directory: "DevOps/GithubActions/01 Starting Project"

      - name: Run Tests
        run: npm run test
        working-directory: "DevOps/GithubActions/01 Starting Project"

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Cache Node.js dependencies
        uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}

      - name: Install dependencies
        run: npm ci
        working-directory: "DevOps/GithubActions/01 Starting Project"

      - name: Build Project
        run: npm run build
        working-directory: "DevOps/GithubActions/01 Starting Project"

      - name: Deploy
        run: echo "Deploying..."
