name: Deployment Exercise 1
on: [workflow_dispatch]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci
        working-directory: "DevOps/GithubActions/01 Starting Project"

      - name: Lint
        run: npm run lint
        working-directory: "DevOps/GithubActions/01 Starting Project"

      - name: Test code
        run: npm run test
        working-directory: "DevOps/GithubActions/01 Starting Project"

      - name: Build code
        run: npm run build
        working-directory: "DevOps/GithubActions/01 Starting Project"

      - name: Deploy code
        run: echo "Deploying..."
