name: SSIS Build and Deploy

on:
  workflow_dispatch: 

jobs:
  build-deploy:
    runs-on: windows-latest

    steps:
    - name: Checkout source code
      uses: actions/checkout@v4

    - name: Install SSISBuild extension
      run: |
        dotnet tool install --global Microsoft.Build.Sql -v q

    - name: Build SSIS project (.dtproj)
      run: |
        "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\MSBuild.exe" `
          "C:\sc_MuzuvukileNqwiliso_2025\HandsOnProject\Timesheet\MigratingTimesheet\MigratingTimesheet.dtproj" `
          /p:Configuration=Development `
          /p:OutputPath="C:\SSISOutput"

    - name: Deploy SSIS .ispac to SSISDB
      run: |
        "C:\Program Files\Microsoft SQL Server\160\DTS\Binn\ISDeploymentWizard.exe" `
          /Silent `
          /ModelType:Project `
          /SourcePath:"C:\SSISOutput\MigratingTimesheet.ispac" `
          /DestinationServer:"LAPTOP-62JJ49T4" `
          /DestinationPath:"/SSISDB/TimesheetDeploy/MigratingTimesheet" `
          /DestinationUser:"Auto_user" `
          /DestinationPassword:"SecurePass2025"
