name: Run MasterPackage Every 1 Minute

on:
  schedule:
    - cron: "* * * * *"
  workflow_call:

jobs:
  run-master-package:
    runs-on: self-hosted

    steps:
      - name: Run SSIS MasterPackage
        shell: powershell
        run: |
          $ssisServer = "LAPTOP-62JJ49T4"
          $folderName = "TimesheetDeploy"
          $projectName = "MigratingTimesheet"
          $packageName = "MasterPackage.dtsx"

          Write-Output "Starting execution of $packageName..."

          $query = @"
          DECLARE @execution_id BIGINT;
          EXEC [SSISDB].[catalog].[create_execution]
              @package_name=N'$packageName',
              @execution_id=@execution_id OUTPUT,
              @folder_name=N'$folderName',
              @project_name=N'$projectName',
              @use32bitruntime=False,
              @reference_id=NULL;
          EXEC [SSISDB].[catalog].[start_execution] @execution_id;
          "@

          sqlcmd -S $ssisServer -d SSISDB -E -Q $query
          Write-Output "Execution triggered."
