name: Test Workflow
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout # this is used to fetch the code from the repository
        uses: actions/checkout@v2 # this is the action that checks out the code
      - name: Install Node.js
        uses: actions/setup-node@v1 # this is the action that sets up Node.js
        with:
          node-version: "16" # this is the version of Node.js to use
      - name: Install dependencies
        run: npm install # this is the command to install the dependencies
        working-directory: ../../DevOps/GithubActions/ # this is the directory where the command should be run
      - name: Run tests
        run: npm test # this is the command to run the tests
