name: Test Workflow
on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "16"

      - name: Install dependencies
        run: npm install
        working-directory: "DevOps/GithubActions/01 Starting Project"

      - name: Done
        run: echo "All done! ${{ github.event_name }} triggered this workflow."
